<th>
  <input class="form-control"
         type="text"
         ng-model="filterController.filter.query"
         ng-model-options="{ updateOn: 'default blur', debounce: {'default': 250, 'blur': 0}}"
      />
</th>
<th>
  <beer-degree-select ng-model="filterController.filter.degree"></beer-degree-select>
</th>
<th>
  <div class="alcohol-filter-item">
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-btn" uib-dropdown>
          <button type="button" class="btn btn-default dropdown-toggle" uib-dropdown-toggle
                  ng-disabled="disabled">
            {{filterController.filter.alcoholOperator}}&nbsp;<span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" uib-dropdown-menu>
            <li ng-click="filterController.filter.alcoholOperator = '='">&nbsp;=&nbsp;</li>
            <li ng-click="filterController.filter.alcoholOperator = '&lt;'">&nbsp;&lt;&nbsp;</li>
            <li ng-click="filterController.filter.alcoholOperator = '&gt;'">&nbsp;&gt;&nbsp;</li>
          </ul>
        </div>
        <input type="number" class="form-control"
               ng-model="filterController.filter.alcohol"
               ng-model-options="{ updateOn: 'default blur', debounce: {'default': 250, 'blur': 0}}"
            />
      </div>
    </div>
  </div>
</th>
<th>
  <brewery-select name="brewery" model="filterController.filter.brewery" required></brewery-select>
</th>
<th class="text-right">
  <button type="button" class="btn-reset-search" ng-click="filterController.clearFilter()">Vynulovat hledání</button>
</th>
