<form name="edit.form" ng-submit="edit.save()" novalidate>

  <div class="form-group">
    <label for="brewery-name">Název</label>
    <input id="brewery-name" class="form-control" type="text"
           name="name"
           ng-model="edit.brewery.name"
           required
        />
    <ng-messages for="edit.form.name.$error"
                 ng-if="edit.form.$submitted || edit.form.name.$touched">
      <ng-messages-include src="common/cz/angular/validation/standardMessages-cs.html"></ng-messages-include>
    </ng-messages>
  </div>

  <div class="form-group">
    <label for="brewery-year">Rok založení</label>
    <input id="brewery-year" class="form-control" type="number"
           ng-model="edit.brewery.year"
           name="year"
           required
           min="0"
        />
    <ng-messages for="edit.form.year.$error"
                 ng-if="edit.form.$submitted || edit.form.year.$touched">
      <ng-messages-include src="common/cz/angular/validation/standardMessages-cs.html"></ng-messages-include>
      <ng-message when="min">Rok založení musí být kladné číslo</ng-message>
    </ng-messages>
  </div>

  <div class="form-group">
    <label for="brewery-city">Město</label>
    <input id="brewery-city" class="form-control" type="text"
           ng-model="edit.brewery.city"
           name="city"
           required
        />
    <ng-messages for="edit.form.city.$error"
                 ng-if="edit.form.$submitted || edit.form.city.$touched">
      <ng-messages-include src="common/cz/angular/validation/standardMessages-cs.html"></ng-messages-include>
    </ng-messages>
  </div>

  <div class="text-right">
    <button type="submit" class="btn btn-success">Uložit</button>
    <button type="button" class="btn btn-danger" ng-click="edit.cancel()">Zrušit</button>
  </div>

</form>