<div class="brewery">
  <div class="pull-right" auth-has-role="ROLE_ADMIN">
    <a ui-sref="brewery.edit({id:breweryController.brewery.id})">Upravit informace o pivovaru</a>
  </div>

  <p class="lead"><strong>Pivovar:</strong> {{breweryController.brewery.name}}</p>

  <p class="lead"><strong>Založeno:</strong> {{breweryController.brewery.year}}</p>

  <p class="lead"><strong>Město:</strong> {{breweryController.brewery.city}}</p>

  <p>
    <ui-gmap-google-map center="breweryController.map.center" options="breweryController.map.options" zoom="breweryController.map.zoom">
      <ui-gmap-marker coords="breweryController.map.marker" idkey="'0'">
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </p>

</div>