<div class="pull-right">
  <a ui-sref="beers.create" class="btn btn-default btn-success" auth-has-role="ROLE_ADMIN">
    <span class="glyphicon glyphicon-plus"></span>
    Přidat pivo
  </a>
</div>

<h2>
  Seznam piv
</h2>

<div class="beer-list">

  <table>
    <thead>
    <tr class="header">
      <th class="text-right" width="30%">Název</th>
      <th width="15%">Stupeň</th>
      <th width="15%">Alkohol</th>
      <th width="20%">Pivovar</th>
      <th width="20%"></th>
    </tr>
    <tr filter-in-row="list.beerSearchParams.filter"
        on-change="list.search(filter)"
        on-reset="list.reset()"></tr>
    </thead>
    <tbody>

    <tr ng-repeat="beer in list.beers">

      <td>{{beer.name}}</td>
      <td class="text-center">{{beer.degree}}</td>
      <td class="text-center">{{beer.alcohol}}</td>
      <td>{{beer.brewery.name}}</td>

      <td class="actions">
        <a class="detail" ui-sref="beers.beer.detail({ id: beer.id })"><span class="icon"></span> Detail</a>
        <a class="edit" ui-sref="beers.beer.detail.edit({ id: beer.id })" auth-has-role="ROLE_ADMIN"><span
            class="icon"></span></a>
        <button class="btn remove" auth-has-role="ROLE_ADMIN" ng-click="list.remove(beer)"><span class="icon"></span></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="text-center" ng-if="list.pagingInfo.totalItems == 0">
    Nebylo nalezeno žádné pivo
  </div>

  <div class="text-center" ng-if="list.pagingInfo.totalItems > 0">
    <uib-pagination items-per-page="list.pagingInfo.perPage" total-items="list.pagingInfo.totalItems"
                ng-model="list.beerSearchParams.page" ng-change="list.reload()"></uib-pagination>
  </div>
</div>