<div class="beer-edit">
  <h2 ui-bind-data="title"></h2>

  <form name="edit.form" ng-submit="edit.save()" novalidate>

    <div class="form-group">
      <label for="beer-name">Název:</label>
      <input id="beer-name" class="form-control" type="text"
             name="name"
             ng-model="edit.beer.name"
             required
          />
      <ng-messages for="edit.form.name.$error"
                   ng-if="edit.form.$submitted || edit.form.name.$touched">
        <ng-messages-include src="common/cz/angular/validation/standardMessages-cs.html"></ng-messages-include>
      </ng-messages>
    </div>

    <div class="row">

      <div class="col-md-6 col-sm-6 col-lg-6">
        <label for="beer-degree">Stupeň:</label>
        <beer-degree-select id="beer-degree" name="degree" required ng-model="edit.beer.degree"></beer-degree-select>
        <ng-messages for="edit.form.degree.$error"
                     ng-if="edit.form.$submitted || edit.form.degree.$touched">
          <ng-messages-include src="common/cz/angular/validation/standardMessages-cs.html"></ng-messages-include>
        </ng-messages>
      </div>

      <div class="col-md-6 col-sm-6 col-lg-6">
        <label for="beer-alcohol">Obsah alkoholu:</label>
    <span class="input-group">
      <input id="beer-alcohol" class="form-control" type="number"
             name="alcohol"
             ng-model="edit.beer.alcohol"
             required
          />
      <span class="input-group-addon">%</span>
    </span>
        <ng-messages for="edit.form.alcohol.$error"
                     ng-if="edit.form.$submitted || edit.form.alcohol.$touched">
          <ng-messages-include src="common/cz/angular/validation/standardMessages-cs.html"></ng-messages-include>
        </ng-messages>
      </div>

    </div>

    <div class="form-group">
      <label for="beer-description">Popis:</label>
    <textarea id="beer-description" class="form-control" type="text"
              name="description"
              ng-model="edit.beer.description"
              required
        ></textarea>
      <ng-messages for="edit.form.description.$error"
                   ng-if="edit.form.$submitted || edit.form.description.$touched">
        <ng-messages-include src="common/cz/angular/validation/standardMessages-cs.html"></ng-messages-include>
      </ng-messages>
    </div>

    <div class="form-group">
      <label for="beer-brewery">Pivovar:</label>

      <div class="row">
        <div class="col-md-8">
          <brewery-select id="beer-brewery"
                          model="edit.beer.brewery"
                          name="brewery"
                          required></brewery-select>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-default" ng-click="edit.createNewBrewery()">
            <span class="glyphicon glyphicon-plus"></span> Nový pivovar
          </button>
        </div>
      </div>

      <ng-messages for="edit.form.brewery.$error"
                   ng-if="edit.form.$submitted || edit.form.brewery.$touched">
        <ng-messages-include src="common/cz/angular/validation/standardMessages-cs.html"></ng-messages-include>
      </ng-messages>
    </div>

    <div class="text-right">
      <button type="submit">Uložit</button>
      <button type="button" class="btn btn-danger" ng-click="edit.cancel()">Zrušit</button>
    </div>
  </form>
</div>
