[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

ng-messages ng-message {
  display: block;
  .text-danger;
}

form.ng-submitted .ng-invalid, form .ng-touched.ng-invalid {
  .has-error;
  .form-control;
}

form.ng-submitted .ng-valid, form .ng-touched.ng-valid {
  .has-success;
  .form-control;
}

button, a.button {
  .btn;
  .btn-default;
}

button[type=submit] {
  .btn-success;
}

button[type=reset] {
  .btn-danger;
}


