.beer {

  .left-column {
    .make-md-column(5);
  }

  .right-column {
    .make-md-column(7);
  }

  .beer-edit {
    .make-md-column(12);
  }

  .brewery {
    .well;
  }

  .ratings {
    .rating {
      .user {
        font-size: 1.3em;
        font-weight: bold;
      }
      .date {
        .pull-right;
      }

      .panel-body {
        border-top: 1px solid #eeeeee;
      }
    }

    #rating-rating {
      outline: none;
      font-size: 1.4em;
      box-shadow: none;
    }
  }

  a.edit {
    .icon {
      font-size: 0.8em;
      .glyphicon;
      .glyphicon-edit;
    }
  }

}

.beer-edit {
  .make-md-column(5);

  form {
    .well;
  }
}

.beer-list {
  .make-row();

  table {
    .table;
    .table-striped;
    table-layout: fixed;

    .header {
      th {
        .text-center;
      }
    }

    .btn-reset-search  {
      .btn;
      .btn-primary;
    }

    .actions {
      .text-right;
      a {
        .btn;
        .btn-info;
      }

      .detail {
        .icon {
          .glyphicon;
          .glyphicon-search;
        }
      }

      .edit {
        .icon {
          .glyphicon;
          .glyphicon-edit;
        }
      }

      .remove {
        .btn-danger;

        .icon {
          .glyphicon;
          .glyphicon-remove;
        }
      }
    }
  }

  .alcohol-filter-item {
    .form-inline;

    .dropdown-menu {
      min-width: 50px;
      text-align: center;

      li:hover, li:focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
      }
    }

    .form-group {
      margin-bottom: 0;
    }
  }
}

.angular-google-map-container {
  height: 400px;
}

.cz-angular-bootstrap-notifications {
  width:250px;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 101;

  .alert {
    box-shadow: 3px 3px 15px #6B6B6B;
    padding: 10px 35px 10px 15px;
    padding: 10px 35px 10px 15px;

    .button-box {
      .btn-link {
        float: right;
        display: block;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 5px 0px;
        margin:0;
      }
      .clearfix;
    }


  }
}
