<ng-message when="required">vyplňte položku</ng-message>
<ng-message when="email">vyplňte platný email</ng-message>
<ng-message when="url">vyplňte platnou url adresu</ng-message>
<ng-message when="number">vyplňte číslo</ng-message>
<ng-message when="date">vyplňte datum</ng-message>
<ng-message when="time">vyplňte čas</ng-message>
<ng-message when="datetimelocal">vyplňte datum a čas</ng-message>