<div class="modal-header">
  <h3 class="modal-title">Přidat pivovar</h3>
</div>
<div class="modal-body">
  <brewery-form brewery="modal.brewery"
                on-save="modal.onSave(brewery)"
                on-cancel="modal.onCancel()"
                on-error="modal.onError(error)">
  </brewery-form>
</div>