<div class="modal-header">
  <h3 class="modal-title">Přihlašte se</h3>
</div>
<div class="modal-body">

  <p class="alert alert-warning" ng-if="auth.isBadLogin">
    Špatné jméno nebo heslo
  </p>

  <form class="form-horizontal" ng-submit="auth.login()">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Jméno</label>

      <div class="col-sm-10">
        <input type="name" class="form-control" id="inputName" ng-model="auth.user.name" placeholder="Jméno" autofocus
               required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPass" class="col-sm-2 control-label">Heslo</label>

      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPass" ng-model="auth.user.password" placeholder="Heslo"
               required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Přihlásit se</button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-warning" ng-click="auth.cancel()">Zrušit</button>
</div>
