<ul class="nav nav-tabs">
  <li ng-if="sidebarController.beer.brewery" ui-sref-active-eq="active">
    <a ui-sref="beers.beer.detail({id: sidebarController.beer.id})">
      O pivovaru
    </a>
  </li>
  <li ng-if="sidebarController.beer.ratings" ui-sref-active="active">
    <a ui-sref="beers.beer.detail.rating({id: sidebarController.beer.id})">
      Hodnocení
    </a>
  </li>
</ul>

<div class="tab-content" ui-view="sidebarContent"></div>