<ui-select ng-model="selectController.model"
           ng-required="selectController.isRequired"
           name="{{selectController.name}}"
           theme="bootstrap"
    >
  <ui-select-match placeholder="Zadejte název pivovaru...">{{$select.selected.name}}</ui-select-match>
  <ui-select-choices repeat="brewery in selectController.breweries track by brewery.id"
                     refresh="selectController.refreshBreweries($select.search)"
                     refresh-delay="0">
    <span ng-bind="brewery.name"></span>
  </ui-select-choices>

</ui-select>